<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suitea">
  <test thread-count="5" name="SuiteaTest">
    <classes>
      <class name="com.taxilla.Baseclass.TenantBasedPartition"/>
      
      
    </classes>
  </test> <!-- SuiteaTest -->
   <test thread-count="5" name="SuiteaTest1">
    <classes>
     
       <class name="com.taxilla.Baseclass.TestA"/>
      
    </classes>
  </test> <!-- SuiteaTest -->
</suite> <!-- Suitea -->
